
#title{
    
    background-color: #ff4c68;
    color: #fff;
    
}
.container-fluid{

    padding: 3% 15%;

}
h1{
    font-family: Montserrat;
    font-size: 3rem ;
    font-weight: bold;
    line-height: 1.5;
}

p{
    color: grey;
}

/* navnar css */

.navbar{

    padding: 0 0 4.2rem ;
}

.navbar-brand{

    font-family: Ubuntu;
    font-size:2rem;
}

.nav-item{
   
    padding: 0 18px ;
    
}
.nav-link{
   
    font-family: Montserrat;
}

/* download buttons */

.download-buttons{

    margin: 5% 3% 5% 0;
}

/* image of phone */

.image-size{

    width: 60%;
    transform: rotate(25deg);
}

/* features */

.feature-box {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.icon-hover {
    color: #ff4c68;
    margin-bottom: 1rem;
    transition: color 0.3s ease-in-out;
}

.icon-hover:hover {
    color: #d43f57; 
}

/* testimonals */

#testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.testimonial-text {
    font-size: 2rem;
    font-weight: bold;
    font-family: Montserrat;
    line-height: 1.5;
    color: white;
    margin-bottom: 20px;
    padding: 5px 20px 20px 20px;
}
.testimonial-image {
    width: 130px;
    height: 130px;
   
    padding: 5px;
   
    margin-bottom: 15px;
}
.testimonial-author {
    display: block;
    
    margin-top: 10px;
    color: white;
    font-size: 1.2rem;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
   
    
    padding: 5px;
}
.carousel-inner {
   
    padding: 50px;
   
    max-width: 800px;
    margin: auto;
}

.carousel-control-prev{

    padding-right: 100px;
}

.carousel-control-next{

    padding-left: 100px;
}

/* press */

#press {
    background-color: #ff4c68;
    display: flex;
    justify-content: center; /* Center images horizontally */
    align-items: center; /* Align images vertically */
    padding: 20px;
    margin-top:-10px;
  }
  
  .press-container {
    display: flex;
    gap: 20px; /* Space between images */
  }
  
  .press-container img {
    max-width: 150px;
    height: auto;
  }

  /* footer */

  .copy-right{
    color: white;
  }
  





